<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzheng.mybatis.example.mapper.BlogMapper">
    <resultMap id="BaseResultMap" type="com.jzheng.mybatis.example.entity.Blog">
        <!--@Table blog-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="tags" jdbcType="VARCHAR" property="tags"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        title,
        content,
        author,
        tags
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from blog
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from blog
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jzheng.mybatis.example.entity.Blog"
            useGeneratedKeys="true">
        insert into blog (title, content, author,
                          tags)
        values (#{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR},
                #{tags,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jzheng.mybatis.example.entity.Blog"
            useGeneratedKeys="true">
        insert into blog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">
                title,
            </if>
            <if test="content != null and content != ''">
                content,
            </if>
            <if test="author != null and author != ''">
                author,
            </if>
            <if test="tags != null and tags != ''">
                tags,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null and content != ''">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="author != null and author != ''">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="tags != null and tags != ''">
                #{tags,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.jzheng.mybatis.example.entity.Blog">
        update blog
        <set>
            <if test="title != null and title != ''">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null and content != ''">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="author != null and author != ''">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="tags != null and tags != ''">
                tags = #{tags,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.jzheng.mybatis.example.entity.Blog">
        update blog
        set title   = #{title,jdbcType=VARCHAR},
            content = #{content,jdbcType=VARCHAR},
            author  = #{author,jdbcType=VARCHAR},
            tags    = #{tags,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>